
:root {
	--font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--color-form-border: #999;
	--color-border: #ddd;
	--color-hover: #efefef;
	--color-edited: #ff9;
}

body {
	padding-bottom: 80px;
	font-family: var(--font-family);
}

main {
	margin: 0 auto;
	width: fit-content;
	max-width: 100%;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid var(--color-border);
}

td,
th {
	text-align: center;
	padding: 5px;
	border: 1px solid var(--color-border);
}

	td.topic,
	th.topic {
		text-align: left;
	}

td.veil,
td.line,
td.nmc,
td.okay {
	padding: 0;
	width: 50px;
	position: relative;
}

	td label {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	}

tr:hover td {
	background: var(--color-hover);
}

tr.edited td {
	background: var(--color-edited);
}

input, button {
	box-sizing: border-box;
	padding: 4px;
	font: inherit;
	border: 1px solid var(--color-form-border);
	border-radius: 3px;
}

	button {
		padding: 4px 8px;
	}

tfoot th {
	font-weight: unset;
}

.submit {
	text-align: left;
}

.topic.new {
}

	.topic.new .new-form-wrapper {
		display: flex;
	}

	.topic.new input {
		flex-grow: 1;
		margin-right: 5px;
	}

tr.state-veil,
tr.state-not-my-char {
	font-style: italic;
}

tr.state-line {
	font-style: italic;
	font-weight: bold;
}
